<div class="col-lg-4">
    <div class="row">
        <div class="col-6">
            <ul>
                <li>Bulunulan Lokasyon:<br><span>Samsun, Türkiye</span></li>
                <li>Telefon:<br><span>536-604-5465</span></li>
                <li>Mail<br><span>ketenci2554@gmail.com</span></li>
            </ul>
        </div>
        <div class="col-6">
            <ul>
                <li>Mezun Senesi:<br><span>2022</span></li>
                <li>Üniversite<br><span>Bülent Ecevit Üniversitesi</span></li>
                <li>Bölüm<br><span>Bilgisayar Mühendisliği</span></li>
            </ul>
        </div>
    </div>
</div>