
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="index.html" class="logo">
                        <img src="/shop/assets/images/logo.png">
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class="scroll-to-section"><a href="#top" class="active">Anasayfa</a></li>

                        <li class="scroll-to-section"><a href="#men">Erkek</a></li>
                        <li class="scroll-to-section"><a href="#women">Kadın</a></li>
                        <li class="scroll-to-section"><a href="#kids">Çocuk</a></li>
                        <li class="scroll-to-section"><a href="#Accessory">Aksesuar</a></li>
                        <li class="scroll-to-section"><a href="#Contact">İletişim</a></li>

                        <li class="scroll-to-section"><a href="/Admin/Product/Index">Yönetim</a></li>
                    </ul>
             
                </nav>
            </div>
        </div>
    </div>
</header>