@model List<Discount>

<div class="col-md-6 col-lg-8 order-2 mb-4">
    
    <div class="card h-100">
        <h5 class="m-2 me-5">Kampanyalar</h5>
        @foreach (var item in Model)
        {
            <div class="card-body">
                <ul class="p-0 m-0">

                    <li class="d-flex">
                        <div class="avatar flex-shrink-0 me-3">
                            <img src="../assets/img/icons/unicons/cc-warning.png" alt="User" class="rounded" />
                        </div>
                        <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                            <div class="me-2">
                                <small class="text-muted d-block mb-1">Aktif</small>
                                <h6 class="mb-0">@item.DiscountName</h6>
                            </div>
                            <div class="user-progress d-flex align-items-center gap-1">
                                <h6 class="mb-0"></h6>
                                <span class="text-muted">Tarihinde Bitiyor</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        }

    </div>
</div>