
<ul class="nav nav-pills mb-8 nav-fill" style="margin-left:1200px" role="tablist">
    <li class="nav-item">
        <a type="button"
           href="/Admin/Contact/Index"
           class="nav-link active">
            <i class="tf-icons bx bx-message"></i> İleti
            <span class="badge rounded-pill badge-center h-px-20 w-px-20 bg-danger">@ViewBag.values</span>
        </a>
    </li>


</ul>