@model List<Category>

<div class="col-md-6 col-lg-4 col-xl-4 order-0 mb-4">
    <div class="card h-100">
        <div class="card-header d-flex align-items-center justify-content-between pb-0">
            <div class="card-title mb-0">
                <h5 class="m-0 me-2">Kategoriler</h5>
                
            </div>
            
        </div>
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <div class="d-flex flex-column align-items-center gap-1">
                    <h2 class="mb-2">@ViewBag.count</h2>
                    
                </div>
                <div id="orderStatisticsChart"></div>
            </div>
            <ul class="p-0 m-0">
              
                
                @foreach (var item in Model)
                {
                    <li class="d-flex mb-4 pb-1">
                        <div class="avatar flex-shrink-0 me-3">
                            <span class="avatar-initial rounded bg-label-success"><i class="bx bx-closet"></i></span>
                        </div>
                        <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                            <div class="me-2">
                                <h6 class="mb-0">Fashion</h6>
                                <small class="text-muted">@item.CategoryName</small>
                            </div>
                            <div class="user-progress">
                                <small class="fw-semibold">@item.CategoryStatus</small>
                            </div>
                        </div>
                    </li>
                }



            </ul>
        </div>
    </div>
</div>