@{ 
    Layout = null;
}


<ul class="menu-inner py-1">
    <!-- Dashboard -->
    <li class="menu-item">
        <a href="/admin/DashBoard/Index" class="menu-link">
            <i class="menu-icon tf-icons bx bx-home-circle"></i>
            <div data-i18n="Analytics">Dashboard</div>
        </a>
    </li>

    <li class="menu-item">
        <a href="/Admin/Product/Index" class="menu-link">
            <i class="menu-icon tf-icons bx bxl-product-hunt"></i>
            <div data-i18n="Analytics">Ürünler</div>
        </a>
    </li>

    <li class="menu-item">
        <a href="/Admin/Contact/Index" class="menu-link">
            <i class="menu-icon tf-icons bx bx-message"></i>
            <div data-i18n="Analytics">Mesajlar</div>
        </a>
    </li>

    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-store"></i>
            <div data-i18n="Analytics">Kampanya Oluştur</div>
        </a>
    </li>

    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-list-check"></i>
            <div data-i18n="Analytics">Devam Eden Kampanyalar</div>
        </a>
    </li>

    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-error-circle"></i>
            <div data-i18n="Analytics">Biten Kampanyalar</div>
        </a>
    </li>

    <li class="menu-item">
        <a href="/Home/Index" class="menu-link">
            <i class="menu-icon tf-icons bx bx-arrow-back"></i>
            <div data-i18n="Analytics">Siteye Dön</div>
        </a>
    </li>

    <li class="menu-item">
        <a href="/Login/LogOut" class="menu-link">
            <i class="menu-icon tf-icons bx bx-log-out"></i>
            <div data-i18n="Analytics">Çıkış Yap</div>
        </a>
    </li>
</ul>